:root{
	--color-amarillo:#d5c006;
	--color-rojo: #cb3005;
	--color-verde:green;
  --color-fondo: #d8dadc;
}


.tituloCierreCuentasCorrientes{
  width: 300px;
  background-color: var(--color-fondo);
  text-align: center;
  padding: 5px ;
  border-radius: 6px;
  font-family: Georgia;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

.circuloCierreCuentasCorrientes1 {
  background-color: var(--color-verde);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* border: 3px solid var(--color-fondo); */
  margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes2 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes3 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes4 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes5 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes6 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes7 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes8 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes9 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes10 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes11 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloCierreCuentasCorrientes12 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }