:root{
	--color-amarillo:#d5c006;
	--color-rojo: #cb3005;
	--color-verde:green;
  --color-fondo: #d8dadc;
}


.tituloCuentasGenericas{
  width: 300px;
  background-color: var(--color-fondo);
  text-align: center;
  padding: 5px ;
  border-radius: 6px;
  font-family: Georgia;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

.circuloCuentasGenericas1 {
  background-color: var(--color-verde);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* border: 3px solid var(--color-fondo); */
  margin-right: 30px;
}
.circuloCuentasGenericas2 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}
.circuloCuentasGenericas3 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}
.circuloCuentasGenericas4 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}
.circuloCuentasGenericas5 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}
.circuloCuentasGenericas6 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}
.circuloCuentasGenericas7 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}
.circuloCuentasGenericas8 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}
.circuloCuentasGenericas9 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}
.circuloCuentasGenericas10 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}
.circuloCuentasGenericas11 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}
.circuloCuentasGenericas12 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-fondo);
  margin-right: 30px;
}