:root{
	--color-amarillo:#d5c006;
	--color-rojo: #cb3005;
	--color-verde:green;
    --color-fondo: #d8dadc;
}

/* .tituloaAlzamientoGarantias{
    font-size: 15px;
    margin-right: 109px;
} */

.tituloAlzamientoGarantias{
  width: 300px;
  background-color: var(--color-fondo);
  text-align: center;
  padding: 5px ;
  border-radius: 6px;
  font-family: Georgia;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}


/* EL BACKGRROUNG SE DEBE CAMBIAR POR CADA EMISION SEGUN EL COLOR DEL RESULTADO DEL DASHBOAR
Y SE DEBE DEJAR COMO COMENTARIO CON "CTRL+K+C" BORDER */

.circuloAlzamientoGarantias1 {
  background-color: var(--color-rojo); 
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* border: 3px solid var(--color-fondo); */
  margin-right: 30px;
}
.circuloAlzamientoGarantias2 {
    background-color: var(--color-rojo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloAlzamientoGarantias3 {
    background-color: var(--color-rojo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloAlzamientoGarantias4 {
    background-color: var(--color-rojo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
  }

.circuloAlzamientoGarantias5 {
    background-color: var(--color-rojo); 
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloAlzamientoGarantias6 {
    background-color: var(--color-rojo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloAlzamientoGarantias7 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloAlzamientoGarantias8 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloAlzamientoGarantias9 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloAlzamientoGarantias10 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloAlzamientoGarantias11 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloAlzamientoGarantias12 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
  