:root{
	--color-amarillo:#d5c006;
	--color-rojo: #cb3005;
	--color-verde:green;
  --color-fondo: #d8dadc;
}

/* .tituloTMC{
    font-size: 15px;
    margin-right: 263px; /*distancia entre el titulo del dashboard y los circulos*/
/* } */

.tituloTMC{
  width: 300px;
  background-color: var(--color-fondo);
  text-align: center;
  padding: 5px ;
  border-radius: 6px;
  font-family: Georgia;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;

}


.circuloTMC1 {
  background-color: var(--color-verde);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* border: 3px solid var(--color-fondo); */
  margin-right: 30px;
  }
  .circuloTMC2 {
    background-color: var(--color-verde);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
  }
  .circuloTMC3 {
    background-color: var(--color-verde);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
  }
  .circuloTMC4 {
    background-color: var(--color-verde);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
  }
  .circuloTMC5 {
    background-color: var(--color-verde);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
  }
  .circuloTMC6 {
    background-color: var(--color-verde);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
  }
  .circuloTMC7 {
    background-color: var(--color-verde);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
  }
  .circuloTMC8 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloTMC9 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloTMC10 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloTMC11 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
  }
  .circuloTMC12 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;

  }
