:root{
	--color-amarillo:#d5c006;
	--color-rojo: #cb3005;
	--color-verde:green;
  --color-fondo: #d8dadc;
}


.tituloContratosAutollenado {
  width: 300px;
  background-color: var(--color-fondo);
  text-align: center;
  padding: 5px ;
  border-radius: 6px;
  font-family: Georgia;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

.circuloContratosAutollenado1 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 30px;
}
.circuloContratosAutollenado2 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 30px;
}
.circuloContratosAutollenado3 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 30px;
}
.circuloContratosAutollenado4 {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 30px;
}
.circuloContratosAutollenado5 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 30px;
}
.circuloContratosAutollenado6 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 30px;
}
.circuloContratosAutollenado7 {
    background-color: var(--color-rojo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloContratosAutollenado8 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloContratosAutollenado9 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloContratosAutollenado10 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloContratosAutollenado11 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloContratosAutollenado12 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
