:root{
	--color-amarillo:#d5c006;
	--color-rojo: #cb3005;
	--color-verde:green;
  --color-fondo: #d8dadc;
}

.tituloAlertaDepPlazo{
    width: 300px;
    background-color: var(--color-fondo);
    text-align: center;
    padding: 5px ;
    border-radius: 6px;
    font-family: Georgia;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
  }


.circuloAlertasDepPlazo1 {
    background-color: var(--color-amarillo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloAlertasDepPlazo2 {
    background-color: var(--color-amarillo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloAlertasDepPlazo3 {
    background-color: var(--color-amarillo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
  }
.circuloAlertasDepPlazo4 {
    background-color: var(--color-amarillo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloAlertasDepPlazo5 {
    background-color: var(--color-verde);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloAlertasDepPlazo6 {
    background-color: var(--color-amarillo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloAlertasDepPlazo7 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloAlertasDepPlazo8 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloAlertasDepPlazo9 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloAlertasDepPlazo10 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloAlertasDepPlazo11 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloAlertasDepPlazo12 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}