:root{
	--color-amarillo:#d5c006;
	--color-rojo: #cb3005;
	--color-verde:green;
  --color-fondo: #d8dadc;
}


.tituloActiveDirectory{
  width: 300px;
  background-color: var(--color-fondo);
  text-align: center;
  padding: 5px ;
  border-radius: 6px;
  font-family: Georgia;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

.circuloActiveDirectory1 {
  background-color: var(--color-verde);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* border: 3px solid var(--color-fondo); */
  margin-right: 30px;
}
.circuloActiveDirectory2 {
  background-color: var(--color-verde);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* border: 3px solid var(--color-fondo); */
  margin-right: 30px;
}
.circuloActiveDirectory3 {
  background-color: var(--color-verde);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* border: 3px solid var(--color-fondo); */
  margin-right: 30px;
}
.circuloActiveDirectory4 {
  background-color: var(--color-verde);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* border: 3px solid var(--color-fondo); */
  margin-right: 30px;
}
.circuloActiveDirectory5 {
    background-color: var(--color-verde);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloActiveDirectory6 {
    background-color: var(--color-verde);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 3px solid var(--color-fondo); */
    margin-right: 30px;
}
.circuloActiveDirectory7 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloActiveDirectory8 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloActiveDirectory9 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloActiveDirectory10 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloActiveDirectory11 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}
.circuloActiveDirectory12 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--color-fondo);
    margin-right: 30px;
}