:root{
    --color-fondo: #d8dadc;
    --color-margen:rgb(217, 13, 57);
	--color-borde-link: rgb(51, 102, 255);
}


.boton_resumen_resultados {
	display: inline-flex; /* los nombres de los botones los deja al centro de cada boton*/
	align-items: center; /* los nombres de los botones los deja al centro de cada boton*/
	justify-content: center;
	width: 90%; /* distancia horizontal del boton*/
	height: 70px; /* distancia vertical del boton*/
	background: black;
	color: #fff;
	font-family: Georgia;
	font-size: 20px; /*tamaño de letra*/
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	border: 3px solid var(--color-borde-link);

}

.boton_resumen_resultados:active{
    color: #dcdc06;
}

