:root{
	--color-amarillo:#d5c006;
	--color-rojo: #cb3005;
	--color-verde:green;
}

/* ################## crear boton ################# */

.boton_pcta {
	display: inline-flex; /* los nombres de los botones los deja al centro de cada boton*/
	align-items: center; /* los nombres de los botones los deja al centro de cada boton*/
	justify-content: center;
	width: 90%; /* distancia horizontal del boton*/
	height: 70px; /* distancia vertical del boton*/
	background-color: rgb(51, 101, 204);
	color: #fff;
	font-family: Georgia;
	font-size: 20px; /*tamaño de letra*/
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

/* mantiene el nombre del dashboard con el efecto que baja un color*/
.boton_pcta span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

/*  ################ estilizar movimiento ################## */

.boton_pcta:after {
	content: "";
	width: 100%;
	height: 100%;
	background: var(--color-amarillo);
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: .3s ease-in-out all;

}

.boton_pcta:hover::after {
	top: 0;
}